[Desktop Entry]
Name=The Tea Cooker
Name[de]=Der Teekocher
Name[pt_BR]=O cozedor de chá
Exec=kteatime
Icon=kteatime.xpm
Type=Application
Comment=
Terminal=0
MiniIcon=kteatime.xpm
