[Desktop Entry]
Encoding=UTF-8
Name=Tea Cooker
Name[bg]=Приготвяне на чай
Name[ca]=El cuiner de té
Name[cs]=Vařič čaje
Name[da]=Tekoger
Name[de]=Teekocher
Name[es]=Tetera
Name[et]=Teekann
Name[fi]=Teen valmistaja
Name[fr]=KTeatime (la théière)
Name[he]=מבשל התה
Name[hu]=Teafőző
Name[is]=Te hitarinn
Name[it]=Teiera
Name[mk]=Готвач на Чај
Name[nb]=Tekokeren
Name[nl]=Theezetter
Name[nn]=Tekokaren
Name[nso]=Moapei wa Tee
Name[pl]=Przyrządzanie herbaty
Name[pt]=Chá
Name[pt_BR]=Chá
Name[ru]=Приготовление чая
Name[sk]=Varič čaju
Name[sl]=Kuhalnik čaja
Name[sv]=Tekokaren
Name[th]=เครื่องมือชงชา
Name[tr]=Çaycı
Name[uk]=Заварювальний чайник
Name[xh]=Umpheki Weti
Name[zh_CN]=煮茶器
Name[zu]=Okokupheka Itiye
Exec=kteatime
Icon=kteatime
Type=Application
Terminal=0
DocPath=kteatime/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
