[Desktop Entry]
Encoding=UTF-8
Name=The Tea Cooker
Name[af]=Die Tee Kooker
Name[ar]=ابريق الشاي
Name[az]=Çaycı
Name[bg]=Приготвяне на чай
Name[br]=Ar pod te
Name[bs]=Kuhač čaja
Name[ca]=El cuiner de té
Name[cs]=Vařič čaje
Name[da]=Tekogeren
Name[de]=Der Teekocher
Name[eo]=Tekuirilo
Name[es]=El calentador de té
Name[et]=Teekann
Name[fi]=Teen valmistaja
Name[fr]=KTeaTime
Name[gl]=O Quecedor de Té
Name[he]=מבשל התה
Name[hr]=Skuhaj čaj
Name[hu]=Teafőző
Name[id]=Pemasak Teh
Name[is]=Te hitarinn
Name[it]=Il bollitore di tè
Name[ko]=차 끓이기
Name[lt]=Arbatos virėjas
Name[lv]=Tējas Vārītājs
Name[mi]=Te Tö Ti
Name[mk]=Чај
Name[mt]=Sajjar it-Te
Name[nb]=Tekokeren
Name[nl]=De Theezetter
Name[nn]=Tekokaren
Name[oc]=Lo cuiner de ten
Name[pl]=Przyrządzanie herbaty
Name[pt]=Chá
Name[pt_BR]=Hora do chá
Name[ro]=Ceainicul
Name[ru]=Приготовление чая
Name[sk]=Varič čaju
Name[sl]=Kuhalnik čaja
Name[sr]=Kuvar za čaj
Name[sv]=Tekokaren
Name[th]=เครื่องมือชงชา
Name[tr]=Çaycı
Name[ven]=Muiti wa Govhi
Name[vi]=Ấm pha trà
Name[xh]=Umpheki weti
Name[xx]=xx
Name[zh_CN]=煮茶器
Name[zh_TW]=煮茶器
Name[zu]=Umpheki wetiye
Exec=kteatime
Icon=kteatime
Type=Application
Terminal=0
DocPath=kteatime/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
