[Desktop Entry]
Name=KTeaTime
GenericName=Tea Cooker
Exec=kteatime
Icon=kteatime
Type=Application
Terminal=false
X-DocPath=kteatime/index.html
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
